<app-search></app-search>
<ul class="menu-container">
    <li *ngFor="let food of foods">
        <a class="" routerLink="/food/{{food.id}}">
            <img [src]="food.imgUrl" [alt]="food.name">

            <div class="content">


                <div class="">
                    <h4>{{food.name}}</h4>
                    <span class="favorite {{food.favorite? '': 'not'}}">{{food.favorite? '❤︎': ''}}</span>
                </div>

                <div class="stars">
                    <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="22px" [readonly]="true">

                    </star-rating>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">{{origin}}</span>
                    </div>
                </div>

                <div class="cook-time">
                    <span>⏰:</span> {{food.cookTime}} min
                </div>

                <div class="price">
                    <span>{{food.price| currency}}</span>
                </div>

            </div>

        </a>
    </li>
</ul>


<!-- <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->
