nav ul{
    display:flex;
    justify-content:space-around;
    list-style-type:none
}

header  a{
    color:black;
    margin:2px;

}

header a:hover{
    color:red;

}

header{

    background:white;
    border-bottom:2px solid red;
    box-shadow:2px 2px 20px #888888;
}
